.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
    position: relative;
}

.site-title {
    position: absolute;
    left: 20px;
    top: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#searchInput {
    width: 50%;
    padding: 10px 40px 10px 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
}